nav.navbar.navbar-inverse
    .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            |             
            span.icon-bar
            |             
            span.icon-bar
            |             
            span.icon-bar
          |           
          a.navbar-brand(href='/') MouseClick
        |         
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                li(class=title=='О нас'?'active':undefined)
                    a(href="/about") О нас
                li(class=title=='Услуги'?'active':undefined)
                    a(href="/services") Услуги
                li(class=title=='Контакты'?'active':undefined)
                    a(href="/contact") Контакты
        // /.navbar-collapse
