// Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container
      .row
          .col-md-7
               h1 MouseClick
               p
                   | Мелкий ремонт вашего сайта. Удаление битых ссылок. Помощь в регистрации доменов, консультации в поддержке сайтов, хостинг, реклама и т.д. за небольшое вознаграждение.
               p
                   a.btn.btn-primary.btn-lg(href="/services", rule='button') Подробнее >>
           .col-md-5
           img(src='images/mouse.png')
