extends layout
block variables
    - HOMEPAGE = true;

block content
    // Example row of columns
    .row
      .col-md-4
        h2
            i(class='glyphicon glyphicon-hdd') 
            |  Регистрация домена (названия сайта), приобретение шаблона сайта (Готового дизайна).
        | 
        p
          | Помощь в приобретении (где дешевле, где надежнее и т.д.). Приобретение готового дизайна, его доработка, замена текста на нужный.
        |           
        p
          a.btn.btn-default(href='/services', role='button') Подробнее &raquo;
      |         
      .col-md-4
        h2 
            i(class='glyphicon glyphicon-list-alt') 
            |  Установка сайта и регистрация в поисковых системах.
        p
          | Установка и настройка всевозможных форумов, сайтов, блоггиннг платформ. Регистрация их в поисковых системах и системах сбора статистики.
        |           
        p
          a.btn.btn-default(href='/services', role='button') Подробнее &raquo;
      |         
      .col-md-4         
        h2 
            i(class='glyphicon glyphicon-cog') 
            |  Мелкие исправления (улучшения)
        p
          | Удаление битых ссылок. Создание карты сайта. Перенос сайта на другой хостинг.
        |           
        p
          a.btn.btn-default(href='/services', role='button') Подробнее &raquo;
