- var HOMEPAGE = false;
block variables

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery-1.12.4.min.js')
    script(src='/js/bootstrap.js')
  body
    include ./includes/navbar.jade
    if HOMEPAGE
        include ./includes/showcase.jade

    .container
        block content

        hr
        footer
        p &copy; mouseclick.ru 2017. Всевозможные услуги по поддержке, созданию и продвижению сайтов в интернете 
